Django==3.0
celery==5.2.2
redis==3.2.1
flower==0.9.5
ipython
watchdog==0.10.2
argh>=0.24.1
PyYAML>=3.10
django-celery-email==3.0.0
django-celery-beat==2.0.0
requests==2.23.0

django-capture-on-commit-callbacks
factory-boy==2.12.0
coverage==5.1

pytest==5.3.5
pytest-django==3.8.0

django-environ==0.4.5
gunicorn==20.0.4
psycopg2-binary==2.8.5
